.archive-title {
  padding-bottom: 2rem;
}

.grid {
  margin: 0 3vw;
  @media (min-width: $small-screen) {
    margin: 0 8vw;
  }
}

.grid-sizer,
.grid-item {
  width: 90vw;
  @media (min-width: $tablet) {
    width: 400px;
  }
  @media (min-width: $small-screen) {
    width: 37vw;
  }
}

.grid-item {
  margin-bottom: 3rem;
}

.gutter-sizer {
  width: 8vw;
}

.blog-post {
  @extend .card;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .img-div {
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  .info-div {
    padding: 1.5rem 2.5rem 1rem 2rem;
    h4 {
      padding: 0.25rem 0 0 0;
      .title {
        color: $dark;
        text-decoration: none;
        font-weight: 600;
        &:hover {
          color: $primary;
        }
      }
    }
    .author {
      padding: 0.75rem 0 0 0;
    }
    .excerpt {
      padding: 0.75rem 0 0 0;
    }
    p {
      padding: 0;
    }
  }
  .read-more {
    color: $dark;
    text-decoration: none;
    font-weight: 600;
    padding: 0.75rem 0rem 1rem 0rem;
    border-top: 1px solid rgba($light-gray, 0.5);
    &:hover {
      background-color: rgba($light-gray, 0.5);
      color: rgba($dark, 0.9);
    }
    div {
      display: flex;
      justify-content: center;
    }
  }
}

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  h2 {
    @extend h5;
    padding-bottom: 1rem;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .page-numbers {
      margin: 0 0.25rem;
    }
    .next {
      @extend .btn-secondary;
      // @extend .text-small;
      padding: 0.3rem 1rem;
      margin-left: 0.75rem;
    }
    .prev {
      @extend .btn-secondary;
      // @extend .text-small;
      padding: 0.3rem 1rem;
      margin-right: 0.75rem;
    }
  }
}
