.submit-section {
  margin: 4rem 0;
  position: relative;
  @media (min-width: $tablet) {
    padding-top: 3rem;
    margin: 5rem 0;
  }
  @media (min-width: $small-screen) {
    margin-top: 7rem;
  }
  @media (min-width: $large-screen) {
    margin-top: 8rem;
  }

  .text-card {
    z-index: 1;
    position: relative;
    @extend .card;
    padding: 1.5rem 3rem 2rem 2.5rem;
    @media (min-width: $tablet) {
      max-width: 60ch;
    }
    h4 {
      font-weight: 600;
    }
    p {
      padding-bottom: 0;
    }
  }
  .button {
    display: flex;
    justify-content: center;
    padding-top: 1.25rem;
  }
}

.submit-section-img {
  display: none;
  @media (min-width: $tablet) {
    display: block;
    height: 400px;
    width: auto;
    z-index: 0;
    position: absolute;
    top: 0;
    right: -30ch;
  }
}
