.page-content {
  @extend .card;
  padding: 0.5rem 1.2rem;
  @media (min-width: $tablet) {
    padding: 2rem 3rem 1.5rem 3rem;
    margin: 0 auto;
    max-width: 80ch;
  }
  @media (min-width: $small-screen) {
    padding: 2.5rem 12ch 3rem 10ch;
    max-width: 90ch;
    margin: 0 auto;
  }
}
