.article {
  @extend .card;
  margin-bottom: 2rem;
  padding: 1rem;
  @media (min-width: $tablet) {
    padding: 1rem 3rem 2rem 3rem;
    .post-text {
      padding-right: 1rem;
    }
  }
  @media (min-width: $small-screen) {
    padding: 1rem 4rem 3rem 4rem;
    .post-text {
      padding-right: 1rem;
    }
  }

  .title {
    padding-bottom: 0;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    padding: 0;
    font-weight: 600;
  }

  .date {
    display: flex;
    align-items: center;
    color: $dark-gray;
    margin-bottom: 2rem;
    .material-icons-outlined {
      font-size: 0.9rem;
      padding-right: 0.2rem;
    }
  }

  .featured-img {
    margin-bottom: 2rem;
    div {
      overflow: hidden;
      border-radius: 10px;
      @media (min-width: $tablet) {
        // margin: 0 -2rem;
        border-radius: 20px;
      }
      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
    figurecaption {
      display: block;
      text-align: right;
      padding-top: 0.25em;
      font-style: italic;
      color: $dark-gray;
    }
  }
}

.cat-and-tags {
  @extend .card;
  padding: 1rem 1rem 1rem 1.5rem;
  .cat-div {
    .category {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
  .tag-div {
    .tag {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}

.article-sidebar-mobile {
  @extend .cat-and-tags;
  @media (min-width: $small-screen) {
    display: none;
  }
}

.article-sidebar {
  @extend .cat-and-tags;
  display: none;
  @media (min-width: $small-screen) {
    display: block;
  }
}

.article-sidebar,
.article-sidebar-mobile {
  .author {
    padding-top: 1.85rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    h6 {
      padding-top: 0;
    }
    .author-data {
      padding-bottom: 0.5rem;
      p {
        padding: 0;
      }
    }
    .contact-author {
      p {
        padding: 0;
      }
    }
  }
}

.article-sidebar-mobile {
  .author {
    padding-bottom: 0.5rem;
    p {
      padding-bottom: 0.05em;
    }
  }
}
