/* COLORS */
$primary: #00576b;
$primary-light: #52b2d0;
$primary-dark: #002e40;
$dark: #141414;
$dark-gray: #3b3b3b;
$gray: #d9d9d9;
$light-gray: #e0e1e4;
$light-1: #f5f5f5;
$light-2: #eceff1;

/* TEXT */
$mobile-text-ratio: 1.15;
$text-ratio: 1.25;

/* MEDIA QUERIES */
$tablet: 43.75em; //700px
$small-screen: 62em; //992px
$large-screen: 87em; //1392px

/* LAYOUT */
$col-gap: 2rem;
